# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend
./backend
/.pnp
.pnp.*
.yarn/*
expo-app
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/.cursorrules
structure.md
/idea.txt
/info.txt
./idea.txt
./info.txt
./secrete.txt
secrete.txt
/secrete.txt
/auto-commit.log
auto-commit.log
# testing
/coverage
./.cursorrules
# next.js
/.next/
/out/
/scripts
/push_changes.sh
test.md
structuree.md
# production
/build

# misc
.DS_Store
*.pem
/prerun.sh
/postrun.sh
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/Zerepy
./Zerepy
/.Zerepy

# env files (can opt-in for committing if needed)
.env*
hardhat.config.js
# vercel
.vercel
drizzle.config.js
hardhat.config.js
/hardhat.config.js
# typescript
*.tsbuildinfo
next-env.d.ts

node_modules
.env
push.sh
/push.sh
# Hardhat files
/cache


# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Private keys
secrete.txt
my-next-app/.next/app-build-manifest.json
my-next-app/.next/build-manifest.json
my-next-app/.next/build/chunks/168ee_f2b49369._.js
my-next-app/.next/build/chunks/168ee_f2b49369._.js.map
my-next-app/.next/build/chunks/\[root-of-the-server\]__3e27ce01._.js
my-next-app/.next/build/chunks/\[root-of-the-server\]__3e27ce01._.js.map
my-next-app/.next/build/chunks/\[root-of-the-server\]__4b04cc58._.js
my-next-app/.next/build/chunks/\[root-of-the-server\]__4b04cc58._.js.map
my-next-app/.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_61a36104._.js
my-next-app/.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_61a36104._.js.map
my-next-app/.next/build/chunks/\[turbopack\]_runtime.js
my-next-app/.next/build/chunks/\[turbopack\]_runtime.js.map
my-next-app/.next/cache/.rscinfo
my-next-app/.next/cache/next-devtools-config.json
my-next-app/.next/fallback-build-manifest.json
my-next-app/.next/package.json
my-next-app/.next/postcss.js
my-next-app/.next/postcss.js.map
my-next-app/.next/prerender-manifest.json
my-next-app/.next/routes-manifest.json
my-next-app/.next/server/app-paths-manifest.json
my-next-app/.next/server/app/_not-found/page.js
my-next-app/.next/server/app/_not-found/page.js.map
my-next-app/.next/server/app/_not-found/page/app-build-manifest.json
my-next-app/.next/server/app/_not-found/page/app-paths-manifest.json
my-next-app/.next/server/app/_not-found/page/build-manifest.json
my-next-app/.next/server/app/_not-found/page/next-font-manifest.json
my-next-app/.next/server/app/_not-found/page/react-loadable-manifest.json
my-next-app/.next/server/app/_not-found/page/server-reference-manifest.json
my-next-app/.next/server/app/_not-found/page_client-reference-manifest.js
my-next-app/.next/server/app/favicon.ico/route.js
my-next-app/.next/server/app/favicon.ico/route.js.map
my-next-app/.next/server/app/favicon.ico/route/app-build-manifest.json
my-next-app/.next/server/app/favicon.ico/route/app-paths-manifest.json
my-next-app/.next/server/app/favicon.ico/route/build-manifest.json
my-next-app/.next/server/app/page.js
my-next-app/.next/server/app/page.js.map
my-next-app/.next/server/app/page/app-build-manifest.json
my-next-app/.next/server/app/page/app-paths-manifest.json
my-next-app/.next/server/app/page/build-manifest.json
my-next-app/.next/server/app/page/next-font-manifest.json
my-next-app/.next/server/app/page/react-loadable-manifest.json
my-next-app/.next/server/app/page/server-reference-manifest.json
my-next-app/.next/server/app/page_client-reference-manifest.js
my-next-app/.next/server/chunks/168ee_next_1929ce1c._.js
my-next-app/.next/server/chunks/168ee_next_1929ce1c._.js.map
my-next-app/.next/server/chunks/\[root-of-the-server\]__5ea22c16._.js
my-next-app/.next/server/chunks/\[root-of-the-server\]__5ea22c16._.js.map
my-next-app/.next/server/chunks/\[turbopack\]_runtime.js
my-next-app/.next/server/chunks/\[turbopack\]_runtime.js.map
my-next-app/.next/server/chunks/ssr/168ee_00e3a28d._.js
my-next-app/.next/server/chunks/ssr/168ee_00e3a28d._.js.map
my-next-app/.next/server/chunks/ssr/168ee_3b934d65._.js
my-next-app/.next/server/chunks/ssr/168ee_3b934d65._.js.map
my-next-app/.next/server/chunks/ssr/168ee_420b4d5d._.js
my-next-app/.next/server/chunks/ssr/168ee_420b4d5d._.js.map
my-next-app/.next/server/chunks/ssr/168ee_457a1365._.js
my-next-app/.next/server/chunks/ssr/168ee_457a1365._.js.map
my-next-app/.next/server/chunks/ssr/168ee_51c9130b._.js
my-next-app/.next/server/chunks/ssr/168ee_51c9130b._.js.map
my-next-app/.next/server/chunks/ssr/168ee_694fd707._.js
my-next-app/.next/server/chunks/ssr/168ee_694fd707._.js.map
my-next-app/.next/server/chunks/ssr/168ee_b0b7cd3b._.js
my-next-app/.next/server/chunks/ssr/168ee_b0b7cd3b._.js.map
my-next-app/.next/server/chunks/ssr/168ee_dbdd4c8c._.js
my-next-app/.next/server/chunks/ssr/168ee_dbdd4c8c._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_66817ceb._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_66817ceb._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_793b9070._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_793b9070._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_914f1419._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_914f1419._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_ca4ea98c._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_ca4ea98c._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_8b950224._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_8b950224._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_905c5f9b._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_905c5f9b._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_forbidden_b844f4fb.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_forbidden_b844f4fb.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_global-error_39fbd06c.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_global-error_39fbd06c.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_unauthorized_a1157d79.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_client_components_builtin_unauthorized_a1157d79.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_compiled_next-devtools_index_423b6018.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_compiled_next-devtools_index_423b6018.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_e779f5b3._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_e779f5b3._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_esm_7c61ba9a._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_esm_7c61ba9a._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_dist_server_route-modules_app-page_c0b2ba24._.js
my-next-app/.next/server/chunks/ssr/168ee_next_dist_server_route-modules_app-page_c0b2ba24._.js.map
my-next-app/.next/server/chunks/ssr/168ee_next_e109af21._.js
my-next-app/.next/server/chunks/ssr/168ee_next_e109af21._.js.map
my-next-app/.next/server/chunks/ssr/\[externals\]_next_dist_compiled_next-server_app-page-turbo_runtime_dev_062c5159.js
my-next-app/.next/server/chunks/ssr/\[externals\]_next_dist_compiled_next-server_app-page-turbo_runtime_dev_062c5159.js.map
my-next-app/.next/server/chunks/ssr/\[externals\]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js
my-next-app/.next/server/chunks/ssr/\[externals\]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__11ef9290._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__11ef9290._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__210e1d1c._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__210e1d1c._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__532d2a6f._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__532d2a6f._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__6c3a0e8b._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__6c3a0e8b._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__7b4055a4._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__7b4055a4._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__7f148858._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__7f148858._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__88ea9ef4._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__88ea9ef4._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__c80f7c8f._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__c80f7c8f._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__e6a4d965._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__e6a4d965._.js.map
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__e8a2741f._.js
my-next-app/.next/server/chunks/ssr/\[root-of-the-server\]__e8a2741f._.js.map
my-next-app/.next/server/chunks/ssr/\[turbopack\]_runtime.js
my-next-app/.next/server/chunks/ssr/\[turbopack\]_runtime.js.map
my-next-app/.next/server/chunks/ssr/my-next-app_app_5ded9c7a._.js
my-next-app/.next/server/chunks/ssr/my-next-app_app_5ded9c7a._.js.map
my-next-app/.next/server/interception-route-rewrite-manifest.js
my-next-app/.next/server/middleware-build-manifest.js
my-next-app/.next/server/middleware-manifest.json
my-next-app/.next/server/next-font-manifest.js
my-next-app/.next/server/next-font-manifest.json
my-next-app/.next/server/pages-manifest.json
my-next-app/.next/server/pages/_app.js
my-next-app/.next/server/pages/_app.js.map
my-next-app/.next/server/pages/_app/build-manifest.json
my-next-app/.next/server/pages/_app/client-build-manifest.json
my-next-app/.next/server/pages/_app/next-font-manifest.json
my-next-app/.next/server/pages/_app/pages-manifest.json
my-next-app/.next/server/pages/_app/react-loadable-manifest.json
my-next-app/.next/server/pages/_document.js
my-next-app/.next/server/pages/_document.js.map
my-next-app/.next/server/pages/_document/next-font-manifest.json
my-next-app/.next/server/pages/_document/pages-manifest.json
my-next-app/.next/server/pages/_document/react-loadable-manifest.json
my-next-app/.next/server/pages/_error.js
my-next-app/.next/server/pages/_error.js.map
my-next-app/.next/server/pages/_error/build-manifest.json
my-next-app/.next/server/pages/_error/client-build-manifest.json
my-next-app/.next/server/pages/_error/next-font-manifest.json
my-next-app/.next/server/pages/_error/pages-manifest.json
my-next-app/.next/server/pages/_error/react-loadable-manifest.json
my-next-app/.next/server/server-reference-manifest.js
my-next-app/.next/server/server-reference-manifest.json
my-next-app/.next/static/chunks/168ee_9509bedb._.js
my-next-app/.next/static/chunks/168ee_9509bedb._.js.map
my-next-app/.next/static/chunks/168ee_@swc_helpers_cjs_2c38d89c._.js
my-next-app/.next/static/chunks/168ee_@swc_helpers_cjs_2c38d89c._.js.map
my-next-app/.next/static/chunks/168ee_next_app_3181a26a.js
my-next-app/.next/static/chunks/168ee_next_app_3181a26a.js.map
my-next-app/.next/static/chunks/168ee_next_dist_4460c8a2._.js
my-next-app/.next/static/chunks/168ee_next_dist_4460c8a2._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_92482e1e._.js
my-next-app/.next/static/chunks/168ee_next_dist_92482e1e._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_build_polyfills_polyfill-nomodule.js
my-next-app/.next/static/chunks/168ee_next_dist_ccc8b6c2._.js
my-next-app/.next/static/chunks/168ee_next_dist_ccc8b6c2._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_client_5568fb6d._.js
my-next-app/.next/static/chunks/168ee_next_dist_client_5568fb6d._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_client_components_builtin_global-error_3da763af.js
my-next-app/.next/static/chunks/168ee_next_dist_client_components_builtin_global-error_f8aea2aa.js
my-next-app/.next/static/chunks/168ee_next_dist_client_components_builtin_layout_fdc82e02.js
my-next-app/.next/static/chunks/168ee_next_dist_client_dcbb22aa._.js
my-next-app/.next/static/chunks/168ee_next_dist_client_dcbb22aa._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_compiled_20015b79._.js
my-next-app/.next/static/chunks/168ee_next_dist_compiled_20015b79._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_compiled_710d7d41._.js
my-next-app/.next/static/chunks/168ee_next_dist_compiled_710d7d41._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_compiled_next-devtools_index_0fef1d2d.js
my-next-app/.next/static/chunks/168ee_next_dist_compiled_next-devtools_index_0fef1d2d.js.map
my-next-app/.next/static/chunks/168ee_next_dist_compiled_next-devtools_index_f07b1406.js
my-next-app/.next/static/chunks/168ee_next_dist_compiled_next-devtools_index_f07b1406.js.map
my-next-app/.next/static/chunks/168ee_next_dist_compiled_react-dom_54e1f562._.js
my-next-app/.next/static/chunks/168ee_next_dist_compiled_react-dom_54e1f562._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_d047f738._.js
my-next-app/.next/static/chunks/168ee_next_dist_d047f738._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_f8135036._.js
my-next-app/.next/static/chunks/168ee_next_dist_f8135036._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_shared_lib_6ba3bd60._.js
my-next-app/.next/static/chunks/168ee_next_dist_shared_lib_6ba3bd60._.js.map
my-next-app/.next/static/chunks/168ee_next_dist_shared_lib_b5007197._.js
my-next-app/.next/static/chunks/168ee_next_dist_shared_lib_b5007197._.js.map
my-next-app/.next/static/chunks/168ee_next_error_d7f52cbb.js
my-next-app/.next/static/chunks/168ee_next_error_d7f52cbb.js.map
my-next-app/.next/static/chunks/168ee_react-dom_a378151e._.js
my-next-app/.next/static/chunks/168ee_react-dom_a378151e._.js.map
my-next-app/.next/static/chunks/\[next\]_entry_page-loader_ts_239c5198._.js
my-next-app/.next/static/chunks/\[next\]_entry_page-loader_ts_239c5198._.js.map
my-next-app/.next/static/chunks/\[next\]_entry_page-loader_ts_d7d86bbd._.js
my-next-app/.next/static/chunks/\[next\]_entry_page-loader_ts_d7d86bbd._.js.map
my-next-app/.next/static/chunks/\[next\]_internal_font_google_be385945._.css
my-next-app/.next/static/chunks/\[next\]_internal_font_google_be385945._.css.map
my-next-app/.next/static/chunks/\[next\]_internal_font_google_geist_a71539c9_module_css_bad6b30c._.single.css
my-next-app/.next/static/chunks/\[next\]_internal_font_google_geist_a71539c9_module_css_bad6b30c._.single.css.map
my-next-app/.next/static/chunks/\[next\]_internal_font_google_geist_mono_8d43a2aa_module_css_bad6b30c._.single.css
my-next-app/.next/static/chunks/\[next\]_internal_font_google_geist_mono_8d43a2aa_module_css_bad6b30c._.single.css.map
my-next-app/.next/static/chunks/\[root-of-the-server\]__8862d8e7._.css
my-next-app/.next/static/chunks/\[root-of-the-server\]__8862d8e7._.css.map
my-next-app/.next/static/chunks/\[root-of-the-server\]__9c7266ba._.js
my-next-app/.next/static/chunks/\[root-of-the-server\]__9c7266ba._.js.map
my-next-app/.next/static/chunks/\[root-of-the-server\]__d3f0eb46._.js
my-next-app/.next/static/chunks/\[root-of-the-server\]__d3f0eb46._.js.map
my-next-app/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_6a83e9af._.js
my-next-app/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_6a83e9af._.js.map
my-next-app/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js
my-next-app/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js.map
my-next-app/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_d3fcd9d5._.js
my-next-app/.next/static/chunks/my-next-app_1de81b71._.js.map
my-next-app/.next/static/chunks/my-next-app_a0ff3932._.js
my-next-app/.next/static/chunks/my-next-app_app_favicon_ico_mjs_8035306d._.js
my-next-app/.next/static/chunks/my-next-app_app_globals_css_bad6b30c._.single.css
my-next-app/.next/static/chunks/my-next-app_app_globals_css_bad6b30c._.single.css.map
my-next-app/.next/static/chunks/my-next-app_app_layout_tsx_fdc82e02._.js
my-next-app/.next/static/chunks/my-next-app_app_page_tsx_3da763af._.js
my-next-app/.next/static/chunks/my-next-app_app_page_tsx_f8aea2aa._.js
my-next-app/.next/static/chunks/my-next-app_pages__app_2da965e7._.js
my-next-app/.next/static/chunks/my-next-app_pages__app_c5fc8949._.js.map
my-next-app/.next/static/chunks/my-next-app_pages__error_2da965e7._.js
my-next-app/.next/static/chunks/my-next-app_pages__error_a1f61a0e._.js.map
my-next-app/.next/static/chunks/pages/_app.js
my-next-app/.next/static/chunks/pages/_error.js
my-next-app/.next/static/chunks/turbopack-my-next-app_1de81b71._.js
my-next-app/.next/static/chunks/turbopack-my-next-app_pages__app_c5fc8949._.js
my-next-app/.next/static/chunks/turbopack-my-next-app_pages__error_a1f61a0e._.js
my-next-app/.next/static/development/_buildManifest.js
my-next-app/.next/static/development/_clientMiddlewareManifest.json
my-next-app/.next/static/development/_ssgManifest.js
my-next-app/.next/static/media/4fa387ec64143e14-s.c1fdd6c2.woff2
my-next-app/.next/static/media/7178b3e590c64307-s.b97b3418.woff2
my-next-app/.next/static/media/797e433ab948586e-s.p.dbea232f.woff2
my-next-app/.next/static/media/8a480f0b521d4e75-s.8e0177b5.woff2
my-next-app/.next/static/media/bbc41e54d2fcbd21-s.799d8ef8.woff2
my-next-app/.next/static/media/caa3a2e1cccd8315-s.p.853070df.woff2
my-next-app/.next/static/media/favicon.0b3bf435.ico
my-next-app/.next/trace
my-next-app/.next/types/routes.d.ts
my-next-app/.next/types/validator.ts
